<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <span class="block-header">File Upload</span>
            <!-- none-working sample url for file upload -->
            <!-- see dropzonejs documentation for info how to implement server side file upload -->
            {{drop-zone url='locahost:4200/upload/example' clickable=true addRemoveLinks=true}}

            <br />

            <label>Code</label>
            <pre>&#123;&#123;drop-zone url='locahost:4200/upload/example' clickable=true addRemoveLinks=true&#125;&#125;</pre>
        </div>
    </div>
</div>
