<div class="widgets-index">

    <div class="row">
        <div class="col-xs-12">
            <h3>Forms Controls</h3>
            <p>Use these controls to build your dashboard forms. Easily add components for validation, custom masks, datetime picker, power select and more.</p>
        </div>
    </div>

    <div class="clearfix" style="clear: both;"> <hr> </div>

    <div class="row">
      <div class="col-sm-12">
        <div class="well">
            <span class="block-header">Forms Controls</span>


              <div class="row row-fixed-width">
                    <div class="col-sm-3">
                        <img src="images/credit-card.gif" style="width: 100%;">
                    </div>
                    <div class="col-sm-9">
                        <pre>&#123;&#123;credit-card-ext number=number name=name expiry=expiry cvc=cvc&#125;&#125;</pre>
                    </div>
              </div>

        </div>
      </div>
    </div>

</div>
