<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <span class="block-header">Text Editor</span>
            {{summer-note
                height=contentHeight
                btnSize=bs-sm
                content=postContent
                airMode=false
                focus=false
                header="Example"
                disabled=editingDisabled
                disabledOptions=disabledOptions}}

            <label>Code</label>
            <pre>&#123;&#123;summer-note height=contentHeight btnSize=bs-sm content=postContent airMode=false ...&#125;&#125;</pre>
        </div>
    </div>
</div>

