<div class="dashboard-v2">

    <div class="row">
        <div class="col-xs-12 col-lg-offset-4 col-lg-5 top">
            <h3 class="pull-left">Overview</h3>
            <a href="" class="pull-left active">Today</a>
            <a href="" class="pull-left">Month</a>
            <input class="pull-left" type="date">
        </div>
    </div>

    <div class="clearfix" style="clear: both;"> <hr> </div>

    <div class="row">
        <div class="col-xs-12 col-lg-8">
            <div class="row">
                <div class="col-xs-6 col-sm-6 col-lg-4">
                    {{#metric-box bottomText="Sessions" boxShadow=false borderLess=false}}
                        <span class="icon-globe icons back-yellow" aria-hidden="true"></span>
                        <span class="value">108,568</span>
                    {{/metric-box}}
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-4">
                    {{#metric-box bottomText="Page Views" borderLess=false boxShadow=false}}
                        <span class="icon-eye icons back-red" aria-hidden="true"></span>
                        <span class="value"> 120,390</span>
                    {{/metric-box}}
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-4">
                    {{#metric-box bottomText="Revenue" borderLess=false boxShadow=false}}
                        <span class="icon-wallet icons back-blue" aria-hidden="true"></span>
                        <span class="value"> $666.83</span>
                    {{/metric-box}}
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-4">
                    {{#metric-box bottomText="RPS" borderLess=false boxShadow=false}}
                        <span class="icon-graph icons back-yellow" aria-hidden="true"></span>
                        <span class="value"> $6.14</span>
                    {{/metric-box}}
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-4">
                    {{#metric-box bottomText="RPM" borderLess=false boxShadow=false}}
                        <span class="icon-graph icons back-red" aria-hidden="true"></span>
                        <span class="value"> $5.54</span>
                    {{/metric-box}}
                </div>
                <div class="col-xs-6 col-sm-6 col-lg-4">
                    {{#metric-box bottomText="Daily Average" borderLess=false boxShadow=false}}
                        <span class="icon-pie-chart icons back-blue" aria-hidden="true"></span>
                        <span class="value"> $222.28</span>
                    {{/metric-box}}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div  style="background-color: white; min-height: 390px; border: 1px solid #e3e3e3; margin: 0 -31px 0 -31px; padding: 0 15px 0 15px;">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-lg-12">
                                <div style="padding: 15px 0px 0 15px;">
                                    <h4>Monthly Exports/Imports 2015</h4>
                                    <hr />
                                    {{flot-chart-live height="280px" options=linesChart.options data=linesChart.data}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-lg-4 sticky">
            <div class="col-xs-12 col-md-12 col-lg-12">
                <h4>Top Ten Posts</h4>
                {{pages/stocks-table}}
            </div>
        </div>
    </div>
</div>
