<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <p>Use automatic bootstrap breadcrumbs on your app with nested routes. Just add the property breadCrumb on your controllers and render the template.</p>
            <pre>&#123;&#123;bread-crumbs&#125;&#125;</pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div class="well">
            <p>You can customize the appearance of the breadcrums:</p>
            <br />
            <p>Default style</p>
            {{bread-crumbs}}
            <p>Custom list style</p>
            <pre>&#123;&#123;bread-crumbs classNames="listBreadcrumbs"&#125;&#125;</pre>
            {{bread-crumbs classNames="listBreadcrumbs"}}
        </div>
    </div>
</div>
