<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <span class="block-header">Full Calendar</span>


            <div class="row">
                <div class="col-sm-12">
                    {{full-calendar events=events eventClick=(action "clicked") header=header}}
                    <br />
                </div>
            </div>

        </div>
    </div>
</div>
