<div class="row">
    <div class="col-xs-12">
      <div class="well">

        <span class="block-header">Spinner</span>

        <div class="row">
          <div class="col-xs-3"> {{ember-spinner classNames="dashboard-spinner" lines=8 width=3 radius=2 speed="1.0"}} </div>
          <div class="col-xs-9">
            <pre>&#123;&#123;ember-spinner classNames="dashboard-spinner" lines=8 width=3 radius=2 speed="1.0"&#125;&#125;</pre>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-xs-3"> {{ember-spinner classNames="dashboard-spinner" lines=12 radius=8 width=5 rotate=0 speed="1.5"}} </div>
          <div class="col-xs-9">
            <pre>&#123;&#123;ember-spinner classNames="dashboard-spinner" lines=12 radius=8 width=5 rotate=0 speed="1.5"&#125;&#125;</pre>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-xs-3"> {{ember-spinner classNames="dashboard-spinner" lines=12 radius=13 width=7 rotate=0 speed="2.0"}} </div>
          <div class="col-xs-9">
            <pre>&#123;&#123;ember-spinner classNames="dashboard-spinner" lines=12 radius=13 width=7 rotate=0 speed="2.0"&#125;&#125;</pre>
          </div>
        </div>

        <hr>

        <div class="row">
          <div class="col-xs-3"> {{ember-spinner classNames="dashboard-spinner-large" lines=11 length=16 radius=21 width=8 rotate=10 speed="1.0" color="#132353"}} </div>
          <div class="col-xs-9">
            <pre>&#123;&#123;ember-spinner classNames="dashboard-spinner-large" lines=11 length=16 radius=21 width=8 rotate=10 speed="1.0" color="#132353"&#125;&#125;</pre>
            <br />
          </div>
        </div>
      </div>

    </div>
</div>
