<div class="bottom-bar container-fuild {{addClass}}">
    <div class="row">
        <div class="col-xs-12">
            <span>Built with <span style="color: red;">{{fa-icon "heart"}}</span> in California.</span>
            <span class="pull-right">by <a href="http://www.emberjsthemes.com/" class="active">EmberJsThemes.com</a></span>
        </div>
    </div>
</div>
