<div class="option-list-navigation">
    <div class="pull-left logged-user-panel">
        <div class="pull-left">
            <img src="images/people/woman-4.jpg" class="user-photo"/>
        </div>
        <div class="pull-left user-info">
            <span class="light-text-1 bold">Ember Dashboard</span>
            <br/>
            <span class="sub-text-2 light-text-2">
                <a href="#"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Administrator</a>
            </span>
        </div>
    </div>
    <div class="clearfix options">
         {{#bs-accordion selected=selectedMenu}}
            {{#bs-accordion-item value="home" title="Home" classNames="item"}}
                <ul>
                    <li>{{#link-to "dashboards.dashboard-v1"}}<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard v.1{{/link-to}}</li>
                    <li>{{#link-to "dashboards.dashboard-v2"}}<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard v.2{{/link-to}}</li>
                    <li>{{#link-to "dashboards.dashboard-v3"}}<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> Dashboard v.3{{/link-to}}</li>
                </ul>
            {{/bs-accordion-item}}
         {{/bs-accordion}}
    </div>
</div>
