<div class="charts-v2" style="overflow: hidden;">
    <div class="row">
        <div class="col-xs-12">
            <h3>Morris Charts #1 <small>http://morrisjs.github.io/morris.js/</small></h3>
            <p class="pull-left">Good-looking charts shouldn't be difficult.</p>
        </div>
    </div>

    <div class="clearfix" style="clear: both;"> <hr> </div>

    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="well">
                {{morris-chart type="bar" options=defaultOptions chartData=defaultData }}
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="well">
                {{morris-chart type="bar" options=barsCharts2 classNames="morris-charts morris-no-hover"}}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-lg-6">
            <div class="well">
                {{morris-chart type="line" options=sinOptions chartData=sinData }}
            </div>
        </div>
        <div class="col-xs-12 col-lg-6">
            <div class="well">
                {{morris-chart type="line" options=nonContinuousLine chartData=nonContinuousData }}
            </div>
        </div>
    </div>

</div>
