<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <span class="block-header">Bootstrap Carousel</span>
            <div class="row">
                <div class="col-sm-12">
                    <label>Code</label>
                    <pre>&#123;&#123;emberjsthemes-bs-carousel imageList=imageList&#125;&#125;</pre>
                    <br />
                    {{emberjsthemes-bs-carousel imageList=imageList}}
                </div>
            </div>
        </div>
    </div>
</div>
