<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <span class="block-header">Float Grid</span>
            <div class="row">
                <div class="col-sm-12">
                    <label>Code</label>
                    <pre>&#123;&#123;#each images as |image|&#125;&#125;...&#123;&#123;/each&#125;&#125;</pre>
                    <br />
                    <div style="margin: -10px -10px 0 -10px;">
                        <<!-- Sample inline styles -->
                        {{#each images as |image|}}
                        <div class="bg-silver" style="float: left; height: 166px; width: 166px; text-align: center; padding: 10px; margin: 10px; border: 1px solid #ccc;">
                            <div style={{safe-string (concat "background: url('" image.src "') no-repeat center; background-size: cover; width: 146px; height: 146px;")}}> </div>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
