<div class="row">
    <div class="col-sm-12">
        <div class="well">
            <span class="block-header">Masonry Grid</span>
            <div class="row">
                <div class="col-sm-12">
                    <label>Code</label>
                    <pre>&#123;&#123;#justified-gallery&#125;&#125;...&#123;&#123;/ustified-gallery&#125;&#125;</pre>
                    <br />
                    {{#justified-gallery}}
                      {{#each images as |image|}}
                        {{light-box href=image.src data-lightbox="cats" data-title=image.caption}}
                     {{/each}}
                    {{/justified-gallery}}
                </div>
            </div>
        </div>
    </div>
</div>


