<div class="row">
  <div class="col-sm-12">
    <div class="well">
        <span class="block-header">Lightbox Gallery</span>

          <div class="row">
            <div class="col-sm-3">
              {{light-box href="images/gallery/1.jpg" data-lightbox="cat-1" data-title="Slick cat #1" classNames="lightbox-page"}}
            </div>
            <div class="col-sm-9">
              <label class="control-label">Code</label>
              <pre>&#123;&#123;light-box href="images/gallery/1.jpg" data-lightbox="slick-cats" data-title="Slick cat #1"&#125;&#125;</pre>
            </div>
          </div>

    </div>
  </div>
</div>


