<table class="table table-striped table-bordered table-hover">
    <tbody>
    <tr>
        <th>Link</th>
        <th>Session</th>
        <th>Views</th>
    </tr>
    <tr>
        <td><a href="">Eight Amazing Perks Of Ditching Your Bra</a></td>
        <td>154,880</td>
        <td>163,172</td>
    </tr>
    <tr>
        <td><a href="">Powerful Ad About Child Abandonment Ends With A Shocking Twist</a></td>
        <td>153,466</td>
        <td>168,952</td>
    </tr>
    <tr>
        <td><a href="">Amazing Rescue Dog Saves A 17-Month-Old Toddler From A Deadly Monster</a></td>
        <td>129,472</td>
        <td>138,358</td>
    </tr>
    <tr>
        <td><a href="">Father Takes Controversial Picture With Sick Baby In The Shower</a></td>
        <td>102,249</td>
        <td>109,229</td>
    </tr>
    <tr>
        <td><a href="">500-Year-Old ''Frozen'' Mummy Girl Unearths Medical Discovery</a></td>
        <td>67,249</td>
        <td>73,953</td>
    </tr>
    <tr>
        <td><a href="">Adorable 2-Year-Old Girl Joins Her Mom On The 'So You Think You Can Dance' Stage</a></td>
        <td>60,323</td>
        <td>66,591</td>
    </tr>
    <tr>
        <td><a href="">Little Girl Shocks Her Mom With Her Show Of Compassion For A Crying Homeless Man</a></td>
        <td>57,290</td>
        <td>60,058</td>
    </tr>
    <tr>
        <td><a href="">Woman Gets Revenge On The Coworker Who Stole Her Coffee Creamer</a></td>
        <td>56,566</td>
        <td>58,325</td>
    </tr>
    <tr>
        <td><a href="">Cheating Husband's Karma Comes Back To Bite Him In The Behind!</a></td>
        <td>52,919</td>
        <td>57,089</td>
    </tr>
    <tr>
        <td><a href="">Michael Bublé Impersonates Josh Groban, Then A Very Special Guest Appears</a></td>
        <td>49,201</td>
        <td>52,801</td>
    </tr>
    </tbody>
</table>
